@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: black;
}

* {
  box-sizing: border-box;
}
main {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

html, body {
  padding: 0;
  margin: 0;
  font-family:
  Helvetica Neue,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  sans-serif;
}

.front, 
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  backface-visibility: hidden;
}
.card1:hover > .card-1 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.card-1 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  text-align: left;
}
.card1 {
  width: 400px;
  height: 250px;
  perspective: 1000px;
  margin: 10px;
  display: inline-block;
}
.back {
  background-color: #F1F1F1;
  transform: rotateY(180deg);
  padding: 20px
}
.card-grid {
  width: 100%;
  perspective: 5000px;
  text-align: center;
  padding: 10px;
}
Image {
  border-radius: 2rem;
}
h1 , p {
  margin: 0;
}
p {
  margin-top: 5px;
  line-height: 19px;
}
h1 {
  margin: 0;
  padding: 20px;
  padding-bottom: 0;
  color: white;
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 0;
}